{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Create Account</h2>
    <form method="post">
        <label>Name</label>
        <input name="name" required>
        <label>Email</label>
        <input name="email" type="email" required>
        <label>Password</label>
        <input name="password" type="password" required>
        <label>Role</label>
        <select name="role" required>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
